@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<LMM_WebClient.Models.ClassDTO>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>
	<title>Learning Material Management</title>
	<meta charset="UTF-8">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/css/style.css" />

	<style>
		body {
			background: url('@Url.Content("~/img/bg.jpg")') no-repeat center center fixed;
			background-size: cover;
			/* other CSS properties */
		}

		.wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}
	</style>
</head>
<body>

	<!-- Header section end -->
	<!-- Hero section -->
	<div class="wrapper">
	<section class="hero-section set-bg">
		<div class="container mx-auto">
			<!-- search section -->
			<section class="search-section">
				<div class="container">
					<div class="search-warp">
						<div class="section-title text-white">
							<h2>Search your class</h2>
						</div>
						<div class="row">
							<div class="col-md-10 offset-md-1">
								<!-- search form -->
								<form asp-action="Search" method="get">
										<div class="form-group">
											<label for="classCode">Search by Class Code:</label>
											<input type="text" class="form-control" id="classCode" name="classCode" placeholder="Enter Class Code">
											<input type="hidden" class="form-control" id="userId" name="userId" value="@HttpContextAccessor.HttpContext.Session.GetString("userId")">
										</div>
									<button type="submit" class="btn btn-primary">Search</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>


			<!-- course section -->
			<section class="course-section spad pb-0">
				<div class="course-warp">
					<div class="row course-items-area">
						@if (Model != null)
						{
							@foreach (var item in Model)
							{
								<!-- course -->
								<div class="col-sm-4 finance">
									<div class="course-item">
										<div class="course-thumb set-bg" style="background: url('@Url.Content("~/img/courses/1.jpg")')">
										</div>
										<div class="course-info">
											<div class="course-text">
												<h5>@Html.DisplayFor(modelItem => item.Class.ClassCode)</h5>
													<p>@Html.DisplayFor(modelItem => item.Class.Description)</p>
													@if (item.IsEnrolled)
													{
														<p class="site-btn" style="background-color: greenyellow">Enrolled.</p>
													}
													else
													{
														<a asp-area="" asp-controller="Class" asp-action="JoinClass" asp-route-classId="@item.Class.ClassId" asp-route-userId="@HttpContextAccessor.HttpContext.Session.GetString("userId")" class="site-btn">Enroll me.</a>
													}
											</div>
										</div>
									</div>
								</div>
							}
						}
					</div>
				</div>
			</section>
		</div>
	</section>
	</div>
</body>
</html>